<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<title>Geosphere</title>
		<style>
			body { margin: 0; }
		</style>
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three/build/three.module.js",
          "three/addons/": "https://unpkg.com/three/examples/jsm/"
        }
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
    <div id="how-to-use-menu" class="how-to-use-menu hidden">
      <h1>How to Use</h1>
      <h2>About Us</h2>
      <p>Geosphere is an online globe view tool that allows you to click anywhere on the globe and stream the relevant countries name, temperature, location and weather data through API calls utilising longitude and latitude characteristics. Geosphere is accurate to within roughly 30km</p>
      <h2>Instructions</h2>
      <p>To begin, use the <b>[ALT]</b> key along with <b>[MOUSE DOWN]</b> to drag around the globe to a desirable view. Then click with <b>[MOUSE DOWN]</b> to zoom in on the location of choice, and stream the data. Once your done, <b>[MOUSE DOWN]</b> on the globe again to be pulled back out of the view.</p>
      <p>For the best experience please utilise <b>FULLSCREEN</b> for all features of the application to work optimisably</p>
    </div>
    <div class="parallax"></div>
    <div class="stars"></div>
        <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <div id="globe-container"></div>
    <div id="info-box">
      <img id="flag" src="">
      <div id="title-bar">
        <h1 id="country-name">France</h1>
      </div>
      <p id="text-display">You are currently viewing data with regards to UNKNOWN</p>
      <div id="details">
        
        <section class="data-section">
          <h2>Data</h2>
          
          <div class="info-item">
            <i class="fas fa-clock"></i>
            <h2 id="time"></h2>
          </div>
          
          <div class="info-item">
            <i class="fas fa-cloud-showers-heavy"></i>
            <h2 id="weather"></h2>
          </div>
        </section>
      
        <section class="location-section">
          <h2>Location</h2>
          
          <div class="info-item">
            <i class="fas fa-globe"></i>
            <h2 id="coord-lon"></h2>
          </div>
          
          <div class="info-item">
            <i class="fas fa-globe"></i>
            <h2 id="coord-lat"></h2>
          </div>
        </section>
      
        <section class="weather-details-section">
          <h2>Weather Details</h2>
          <div class="info-item">
            <i class="fas fa-thermometer-half"></i>
            <h2 id="temperature"></h2>
          </div>
          
          <div class="info-item">
            <i class="fas fa-eye"></i>
            <h2 id="visibility"></h2>
          </div>
          
          <div class="info-item">
            <i class="fas fa-wind"></i>
            <h2 id="wind-speed"></h2>
          </div>
          
          <div class="info-item">
            <i class="fas fa-tint"></i>
            <h2 id="humidity"></h2>
          </div>
          
          <div class="info-item">
            <i class="fas fa-tachometer-alt"></i>
            <h2 id="pressure"></h2>
          </div>
        </section>
      </div>
    
      <p id="escape">To escape the panel <b>[MOUSE LMB]</b> on the globe</p>
    </div>
    
    
    
	</body>
</html>