<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<title>Geosphere</title>
		<style>
			body { margin: 0; }
		</style>
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three/build/three.module.js",
          "three/addons/": "https://unpkg.com/three/examples/jsm/"
        }
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
    <div id="username-container" data-username="{{ username }}"></div>
    <div id="city-container" data-city=""></div>
    <div id="how-to-use-menu" class="how-to-use-menu hidden text-color-change">
      <h1>How to Use</h1>
      <h2>About Us</h2>
      <p>Geosphere is an online globe view tool that allows you to click anywhere on the globe and stream the relevant countries name, temperature, location and weather data through API calls utilising longitude and latitude characteristics. Geosphere is accurate to within roughly 30km</p>
      <h2>Instructions</h2>
      <ul>
        <li>Click with the mouse while holding the alt key to pan the globe</li>
        <li>Utilise the scroll wheel to zoom in on the globe</li>
        <li>Once a suitable location has been found, left click to stream that location's data</li>
        <li>Adjust visibility settings with the settings icon in the bottom left.</li>
        <li>For the best experience please utilise <b>FULLSCREEN</b> for all features of the application to work optimisably</li>
      </ul>
    </div>

    <div class="parallax"></div>
    <div class="stars"></div>
        <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <div id="welcome-message">
      {% if username %}
          <p>Logged in as <b>{{ username }}</b></p>
      {% endif %}
    </div>
    <div id="search-container">
      <input type="text" id="city-search" placeholder="SEARCH BY CITY NAME">
      <button id="search-button">Search</button>
    </div>
    <button id="favourites-button">
      <i class="fas fa-bookmark"></i>
    </button>
    
    <div id="favourites-tab" class="favourites-tab">
      <h1 id="favourites-title">Favourites</h1>
      <ul id="favourite-cities-list">
        <li>Please hold tight while we fetch your favourites data...</li>
      </ul>
    </div>
    <div id="globe-container"></div>

    <div id="settings-tab"><i class="fa fa-cog spin" style="font-size:36px;" color="white"></i></div>
    <div id="slider-bars-container">
        <div id="settings-title">
          <h2>Settings</h2>
        </div>
        <div id="red-slider-container">
            <label for="red-slider">R</label>
            <input type="range" id="red-slider" min="0" max="255" value="255">
        </div>
        <div id="green-slider-container">
            <label for="green-slider">G</label>
            <input type="range" id="green-slider" min="0" max="255" value="255">
        </div>
        <div id="blue-slider-container">
            <label for="blue-slider">B</label>
            <input type="range" id="blue-slider" min="0" max="255" value="255">
        </div>
        <div id="bottom-panel">
          <button id="earth-theme-btn">Earth</button>
          <button id="bathymetry-theme-btn">Topography</button>
          <button id="topography-theme-btn">Bathymetry</button>
        </div>
        <div id="font-size-container">
          <label for="fontSizeInput">Font Size:</label>
          <input type="number" id="fontSizeInput" min="10" max="50" value="16">
        </div>
        <form method="post" action="/logout" class="mt-3">
          <input type="submit" value="Logout">
        </form>
    </div>
    
    <div id="info-box">
      <img id="flag" src="">
      <div id="title-bar">
        <h1 id="country-name">France</h1>
      </div>
      <p id="text-display">You are currently viewing data with regards to UNKNOWN</p>
      <div id="details">
        <section class="data-section">
          <h3>Data</h3>
          
          <div class="info-item">
            <i class="fas fa-clock"></i>
            <h2 id="time"></h2>
          </div>
          
          <div class="info-item">
            <i class="fas fa-cloud-showers-heavy"></i>
            <h2 id="weather"></h2>
          </div>
        </section>
      
        <section class="location-section">
          <h3>Location</h3>
          
          <div class="info-item">
            <i class="fas fa-globe"></i>
            <h2 id="coord-lon"></h2>
          </div>
          
          <div class="info-item">
            <i class="fas fa-globe"></i>
            <h2 id="coord-lat"></h2>
          </div>
        </section>
      
        <section class="weather-details-section">
          <h3>Weather Details</h3>
          <div class="info-item">
            <i class="fas fa-thermometer-half"></i>
            <h2 id="temperature"></h2>
          </div>
          
          <div class="info-item">
            <i class="fas fa-eye"></i>
            <h2 id="visibility"></h2>
          </div>
          
          <div class="info-item">
            <i class="fas fa-wind"></i>
            <h2 id="wind-speed"></h2>
          </div>
          
          <div class="info-item">
            <i class="fas fa-tint"></i>
            <h2 id="humidity"></h2>
          </div>
          
          <div class="info-item">
            <i class="fas fa-tachometer-alt"></i>
            <h2 id="pressure"></h2>
          </div>
        </section>
        <button id="add-to-favourites-info">
          <p> <p>
          <p>Add to favourites:  </p>
          <i class="fas fa-star"></i>
        </button>
      </div>
      <p id="escape">To escape the panel <b>[MOUSE LMB]</b> on the globe</p>
      

    </div>
    <div id="popup" class="hidden">
      <p id="popup-text"></p>
      <button id="closePopup">X</button>
    </div>  
	</body>
</html>