<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <script type="module" src="{{ url_for('static', filename='js/login.js') }}"></script>
    <div class="side-panel" id="sidePanel">
        <button id="nav-rtn" class="return-button nav">III</button>
        <ul>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/api">API</a></li>
        </ul>
    </div>

    <div class="parallax"></div>
    <div class="stars"></div>
    <div class="title">
        <h1>GEOSPHERE</h1>
    </div>
    <div class="login-container">
        <h2>ENTER ACCOUNT DETAILS</h2>

        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        <form method="post" action="/login" class="mt-3">
            <div class="input-group">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="input-group">
                <input type="submit" value="LOGIN" style="width: 48%;">
                <a href="/signup" class="signup-button" style="width: 48%;">SIGN UP</a>
            </div>
        </form>
    </div>

    <button id="nav" class="toggle-button">III</button>
</body>
</html>
